{% extends "layout.html" %}

{% block title %}Editar Paciente{% endblock %}

{% block content %}
<div class="container mt-5" style="max-width: 500px;">
    <h2 class="text-center">Formulario de edición</h2>
    <form action="{{ url_for('update_paciente', id_paciente=paciente[0]) }}" method="POST" class="mt-4">
        <div class="mb-3">
            <label class="form-label" for="name">Nombre:</label>
            <input class="form-control" type="text" id="name" name="nombre" value="{{ paciente[1] }}" required>
        </div>

        <div class="mb-3">
            <label class="form-label" for="apellido">Apellido:</label>
            <input class="form-control" type="text" id="apellido" name="apellido" value="{{ paciente[2] }}" required>
        </div>

        <div class="mb-3">
            <label class="form-label" for="fecha_nacimiento">Fecha de Nacimiento:</label>
            <input class="form-control" type="text" id="fecha_nacimiento" name="fecha_nacimiento" value="{{ paciente[3] }}" required>
        </div>

        <div class="mb-3">
            <label class="form-label" for="direccion">Dirección:</label>
            <input class="form-control" type="text" id="direccion" name="direccion" value="{{ paciente[4] }}" required>
        </div>

        <div class="mb-3">
            <label class="form-label" for="telefono">Teléfono:</label>
            <input class="form-control" type="text" id="telefono" name="telefono" value="{{ paciente[5] }}" required>
        </div>
        
        <div class="text-center mt-4">
            <button class="btn btn-primary r" type="submit">Actualizar</button>
            <a href="{{ url_for('index')}}" class="btn btn-secondary ms-2 ">Volver a la página de inicio</a>
        </div>
    </form>    
</div>
{% endblock %}