<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% extends "layout.html" %}
    <title>Lista de pacientes</title>
</head>
<body>
    {% block content %}
    <form method="POST" action="/">
        <input type="text" name="search_query" placeholder="Buscar paciente" required>
        <button type="submit">Buscar</button>
    </form>
    <h1>Lista de pacientes</h1>
    <a href="{{ url_for('agg_paciente') }}">Agregar un nuevo paciente</a>
    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Fecha de Nacimiento</th>
                <th>Dirección</th>
                <th>Teléfono</th>
                <th>Acciones</th>
            </tr> 
        </thead>
        <tbody>
            {% for paciente in pacientes %}
            <tr>
                <td>{{paciente[1]}}</td>
                <td>{{paciente[2]}}</td>
                <td>{{paciente[3]}}</td>
                <td>{{paciente[4]}}</td>
                <td>{{paciente[5]}}</td>
                <td>
                    <a href="{{ url_for('update_paciente', id_paciente=paciente[0]) }}" class="btn-edit">Editar</a>
                    <form action="{{ url_for('delete_paciente', id_paciente=paciente[0]) }}" method="POST" style="display: inline;">
                        <button type="submit" class="btn-borrar">Borrar</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endblock %}
</body>
</html>