<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% extends "layout.html" %}
    <title>Lista de pruebas</title>
</head>
<body>
    {% block content %}
    <h1>Lista de pruebas</h1>
    <a href="{{ url_for('agg_prueba', id_paciente=id_paciente) }}">Agregar una nueva prueba</a>
    <table>
        <thead>
            <tr>
                <th>ID de paciente</th>
                <th>Tipo de prueba</th>
                <th>Fecha de prueba</th>
                <th>Descripción</th>
                <th>Acciones</th>
            </tr> 
        </thead>
        <tbody>
            {% for prueba in pruebas %}
            <tr>
                <td>{{ prueba[1] }}</td>
                <td>{{ prueba[2] }}</td>
                <td>{{ prueba[3] }}</td>
                <td>{{ prueba[4] }}</td>
                <td>
                    <a href="{{ url_for('update_prueba', id_prueba=prueba[0]) }}" class="btn-edit">
                        Editar
                    </a>
                    <form action="{{ url_for('delete_prueba', id_prueba=prueba[0]) }}" method="POST" style="display: inline;">
                        <button class="btn-borrar" type="submit">Borrar</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endblock %}
</body>
</html>