{% extends "layout.html" %}

{% block title %}Pacientes{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2>Lista de Pruebas</h2>
    <a href="{{ url_for('agg_prueba', id_paciente=id_paciente) }}" class="btn btn-primary mb-3">Agregar una nueva prueba</a>

    {% if pruebas %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID de Paciente</th>
                <th>Tipo de Prueba</th>
                <th>Fecha de Prueba</th>
                <th>Descripción</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for prueba in pruebas %}
            <tr>
                <td>{{ prueba[1] }}</td>
                <td>
                    <a href="{{ url_for('resultados', id_prueba=prueba[0]) }}" class="text-decoration-none">
                        {{ prueba[2] }}
                    </a>
                </td>
                <td>{{ prueba[3] }}</td>
                <td>{{ prueba[4] }}</td>
                <td>
                    <a href="{{ url_for('update_prueba', id_prueba=prueba[0]) }}" class="btn btn-sm btn-warning">Editar</a>
                    <form action="{{ url_for('delete_prueba', id_prueba=prueba[0]) }}" method="POST" style="display: inline;">
                        <button type="submit" class="btn btn-sm btn-danger">Borrar</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p class="alert alert-info">No hay pruebas para mostrar.</p>
    {% endif %}

    <a href="{{ url_for('index') }}" class="btn btn-secondary mt-3">Volver a la página de pacientes</a>
</div>
{% endblock %}